<!DOCTYPE html>
<html ng-app><head>

<title>Curriculum Vitae - Alexander Ivanov</title>

<meta http-equiv=Content-Type content="text/html; charset=utf8">
<link rel="stylesheet" type="text/css" href="styles/screen.css">

<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular.min.js"></script>
<script type="text/javascript" src="scripts/js/data.json"></script>
<script type="text/javascript" src="scripts/js/interface.js"></script>

</head>
<body ng-controller="Base_Controller">

<div id="container">
	<div id="details" ng-controller="Details_Controller">
		<h1 ng-bind="data.name"></h1>
		<ul>
			<li ng-repeat="s in data.social"><a ng-href="{s.1}" ng-bind="s.0"></a></li>
		</ul>
		
		<img id="photo" alt="{{data.name}}" ng-src="{{data.image}}"/>
		<div id="biography">
			<h2 ng-bind="data.title"></h2>
			<p ng-bind="data.bio"></p>
		</div>
		
		<div id="contacts-info">
			<dl>
				<dt ng-repeat-start="d in data.details" ng-bind="d.0"></dt><dd ng-repeat-end ng-bind="d.1"></dd>
			</dl>
		</div>
	</div>
	
	<div id="resume">
		<h2>Resume</h2>
		
		<div id="skills" ng-controller="Skills_Controller">
			<h3 class="skills-category" ng-repeat-start="d in data.primary" ng-bind="d.category"></h3>
			<div class="skillset" ng-repeat-end>
				<div class="item" ng-repeat="s in d.skills">
					<h4 ng-bind="s.2"></h4>
					<year class="since">Experience Since: <strong ng-bind="s.0"></strong></year>
					<div class="level-wrapper"><div class="level" style="width: {{s.1*10}}%"></div></div>
				</div>
			</div>
			
			<h3 class="skills-category" ng-repeat-start="d in data.secondary" ng-bind="d.category"></h3>
			<ul ng-repeat-end>
				<li ng-repeat="s in d.skills" ng-bind="s"></li>
			</ul>
			
			<div class="cleaner"></div>
		</div>
		
		<div id="info">
		
			<div id="education" ng-controller="Education_Controller">
				<h3>Education</h3>
				
				
				<div class="item-wrapper" ng-repeat="d in data">
					<div class="item">
						<h4 ng-bind="d.title"></h4>
						<p><date ng-bind="d.date.from"></date> - <date ng-bind="d.date.to"></date></p>
						<h5><strong ng-bind="d.major"></strong></h5>
						<p>(<span ng-bind="d.type"></span>)</p>
					</div>
				</div>
			</div>
			
			<div id="events" ng-controller="Events_Controller">
				<h3>Events</h3>
				
				<div class="item-wrapper" ng-repeat="d in data">
					<div class="item" ng-repeat="d in data">
						<h4 ng-bind="d.title"></h4>
						<p><date ng-bind="d.date.from"></date> - <date ng-bind="d.date.to"></date></p>
						<p ng-bind="d.desc"></p>
					</div>
				</div>
			</div>
			
			<div ng-controller="Experience_Controller">
				<h3>Professional Experience</h3>
				
				<div class="item-wrapper" ng-repeat="d in data">
					<div class="item">
						<h4><span ng-bind="d.company"></span> <a ng-href="{{d.url}}" target="_blank" ng-bind="d.url"></a></h4>
						
						<p ng-repeat-start="p in d.positions"><strong>Position:</strong> <span ng-bind="p.title"></span></p>
						<p><date ng-bind="p.date.from"></date> - <date ng-bind="p.date.to"></date></p>
						<div ng-repeat-end><strong>Responsibilities:</strong> 
							<ul class="responsibilities">
								<li ng-repeat="t in p.tasks" ng-bind="t"></li>
							</ul>
						</div>
						
						<div class="projects-container">
							<h4>{{d.company}}: Projects</h4>
							<dl class="projects">
								<dt ng-repeat-start="p in d.projects">
									<span ng-bind="p.title"></span>
									<a ng-href="{{p.url}}" target="_blank" ng-bind="p.url"></a>
									
									<ul class="awards">
										<li ng-repeat="a in p.awards"><a ng-href="{{a.2}}"><span ng-bind="a.0"></span> (<span ng-bind="a.1"></span>)</a></li>
									</ul>
								</dt>
								<dd ng-repeat-end>
									<p ng-bind="p.desc"></p>
									<ul class="project-work">
										<li ng-repeat="t in p.tasks" ng-bind="t"></li>
									</ul>
								</dd>
							</dl>
						</div>
						
					</div>
				</div>
					
			</div>
		
		</div>
		
	</div>
</div>


</body>
</html>
